<div class="row">
  <div class="col-md-6">
    <p>Please note the below schedule is a guide and is subject to change based on the needs of the learners attending on the day.</p>
    <table class="styled_table">
    <tr>
        <th>Start</th>
        <th>Duration (minutes)</th>
        <th>End</th>
        <th>Episode</th>
    </tr>
    <tr>
        <td class="colstart">09:00</td>
        <td class="colduration">30</td>
        <td class="colend">09:30</td>
        <td class="colepisode"><a href="https://durhamarc-training.github.io/shell-novice/instructor/index.html">Summary and Setup (and late arrivals)</a></td>
    </tr>
    <tr>
        <td class="colstart">09:30</td>
        <td class="colduration">10</td>
        <td class="colend">09:40</td>
        <td class="colepisode"><a href="https://durhamarc-training.github.io/shell-novice/instructor/01-intro.html">Introducing the Shell</a></td>
    </tr>
    <tr>
        <td class="colstart">09:40</td>
        <td class="colduration">70</td>
        <td class="colend">10:50</td>
        <td class="colepisode"><a href="https://durhamarc-training.github.io/shell-novice/instructor/02-filedir.html">Navigating Files and Directories</a></td>
    </tr>
    <tr class="break">
        <td class="colstart">10:50</td>
        <td class="colduration">10</td>
        <td class="colend">11:00</td>
        <td class="colepisode"><a href="-">BREAK</a></td>
    </tr>
    <tr>
        <td class="colstart">11:00</td>
        <td class="colduration">60</td>
        <td class="colend">12:00</td>
        <td class="colepisode"><a href="https://durhamarc-training.github.io/shell-novice/instructor/03-create.html">Working With Files and Directories</a></td>
    </tr>
    <tr class="break">
        <td class="colstart">12:00</td>
        <td class="colduration">60</td>
        <td class="colend">13:00</td>
        <td class="colepisode"><a href="-">LUNCH</a></td>
    </tr>
    <tr>
        <td class="colstart">13:00</td>
        <td class="colduration">60</td>
        <td class="colend">14:00</td>
        <td class="colepisode"><a href="https://durhamarc-training.github.io/shell-novice/instructor/04-pipefilter.html">Pipes and Filters</a></td>
    </tr>
    <tr>
        <td class="colstart">14:00</td>
        <td class="colduration">60</td>
        <td class="colend">15:00</td>
        <td class="colepisode"><a href="https://durhamarc-training.github.io/shell-novice/instructor/05-loop.html">Loops</a></td>
    </tr>
    <tr class="break">
        <td class="colstart">15:00</td>
        <td class="colduration">15</td>
        <td class="colend">15:15</td>
        <td class="colepisode"><a href="-">BREAK</a></td>
    </tr>
    <tr>
        <td class="colstart">15:15</td>
        <td class="colduration">45</td>
        <td class="colend">16:00</td>
        <td class="colepisode"><a href="https://durhamarc-training.github.io/shell-novice/instructor/06-script.html">Shell Scripts</a></td>
    </tr>
    <tr>
        <td class="colstart">16:00</td>
        <td class="colduration">45</td>
        <td class="colend">16:45</td>
        <td class="colepisode"><a href="https://durhamarc-training.github.io/shell-novice/instructor/07-find.html">Finding Things</a></td>
    </tr>
    <tr>
        <td class="colstart">16:45</td>
        <td class="colduration">15</td>
        <td class="colend">17:00</td>
        <td class="colepisode">Questions and Answers</td>
    </tr>
    <tr>
        <td>17:00</td>
        <td></td>
        <td></td>
        <td>Finish</td>
    </tr>
</table>
  </div>
</div>
